* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: cadetblue;
}

.main-title {
    max-width: 90%;
    background: rgb(228 231 235);
    padding: 8px;
    border-radius: 6px;
    box-shadow: 8px 8px 0px 0px #05060a;
}

.complete-content-without-title {
    display: flex;
    justify-content: space-around;
    width: 100dvw;
}

.qr-code-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 16px;
}

.button {
    cursor: pointer;
    width: 75%;
    border: 2px solid black;
    border-radius: 16px;
    padding: 8px;
    background-color: rgb(191, 197, 155);
    color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(190, 181, 53);
    transform: scale(1.125);
}

a {
    text-decoration: none;
}

.description-and-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 16px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 4px solid black;
    border-radius: 16px;
    padding: 24px;
    background-color: rgb(234, 234, 243);
    box-shadow: 7px 8px 11px 8px #05060a;
}

.parting-line {
    background-color: black;
    height: 4px;
}

.qr-code-content span {
    font-weight: bold;
}

@media(max-width: 800px){
    .main-content {
        width: 80%;
    }
}

@media(max-width: 600px){
    h1 {
        font-size: 24px;
    }

    .main-content {
        width: 80%;
    }

    .content-section {
        font-size: 14px;
    }

    .button {
        width: 90%;
        text-align: center;
    }
    
    .description-and-content {
        text-align: center;
    }

    .qr-code-content img {
        width: 80%;
    }
}