* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

h1 {
    text-align: center;
}

.newsletter-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 16px;
}

.newsletter-button {
    cursor: pointer;
    width: 75%;
    border: 2px solid black;
    border-radius: 16px;
    padding: 8px;
    background-color: rgb(191, 197, 155);
    color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.newsletter-button:hover {
    background-color: rgb(190, 181, 53);
}

a {
    text-decoration: none;
}

.description-and-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 16px;
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 4px solid black;
    border-radius: 16px;
    padding: 24px;
    background-color: rgb(234, 234, 243);
    box-shadow: 7px 8px 11px 8px #05060a;
}

@media(max-width: 600px){
    h1 {
        font-size: 24px;
    }

    .newsletter-content {
        width: 80%;
    }

    .newsletter-section {
        font-size: 14px;
    }

    .newsletter-button {
        width: 90%;
        text-align: center;
    }
    
    .description-and-content {
        text-align: center;
    }
}